
:root {
  --dark-shade0: #190017;

  --dark-shade1: #362032;

  --dark-shade2: #543f4d;

  --dark-shade3: #715f68;

  --dark-shade4: #8f7f84;

  --dark-shade5: #ac9f9f;

  --dark-shade6: #cabeba;

  --dark-shade7: #e7ded5;

  --dark-accent0: #d3491f;

  --dark-accent1: #f58903;

  --dark-accent2: #c59413;

  --dark-accent3: #02895e;

  --dark-accent4: #01b0d2;

  --dark-accent5: #00a9fd;

  --dark-accent6: #af7f95;

  --dark-accent7: #da06bd;

  --light-shade0: #e7ded5;

  --light-shade1: #cabeba;

  --light-shade2: #ac9f9f;

  --light-shade3: #8f7f84;

  --light-shade4: #715f68;

  --light-shade5: #543f4d;

  --light-shade6: #362032;

  --light-shade7: #190017;

  --light-accent0: #b93025;

  --light-accent1: #875a1f;

  --light-accent2: #7a6016;

  --light-accent3: #167150;

  --light-accent4: #2b6b7f;

  --light-accent5: #0163bc;

  --light-accent6: #904f6a;

  --light-accent7: #a53493;
}