
:root {
  --dark-shade0: #190017;

  --dark-shade1: #362032;

  --dark-shade2: #543f4d;

  --dark-shade3: #715f68;

  --dark-shade4: #8f7f84;

  --dark-shade5: #ac9f9f;

  --dark-shade6: #cabeba;

  --dark-shade7: #e7ded5;

  --dark-accent0: #cd4128;

  --dark-accent1: #f58903;

  --dark-accent2: #c59413;

  --dark-accent3: #01845c;

  --dark-accent4: #0189a3;

  --dark-accent5: #0168ad;

  --dark-accent6: #af7f95;

  --dark-accent7: #d101b7;

  --light-shade0: #e7ded5;

  --light-shade1: #cabeba;

  --light-shade2: #ac9f9f;

  --light-shade3: #8f7f84;

  --light-shade4: #715f68;

  --light-shade5: #543f4d;

  --light-shade6: #362032;

  --light-shade7: #190017;

  --light-accent0: #cd4128;

  --light-accent1: #f58903;

  --light-accent2: #c59413;

  --light-accent3: #01845c;

  --light-accent4: #0189a3;

  --light-accent5: #0168ad;

  --light-accent6: #af7f95;

  --light-accent7: #d101b7;
}