
:root {
  --dark-shade0: #280023;

  --dark-shade1: #43203c;

  --dark-shade2: #5f3f56;

  --dark-shade3: #7a5f6f;

  --dark-shade4: #957f89;

  --dark-shade5: #b09fa2;

  --dark-shade6: #ccbebc;

  --dark-shade7: #e7ded5;

  --dark-accent0: #cd4128;

  --dark-accent1: #f58903;

  --dark-accent2: #c59413;

  --dark-accent3: #01845c;

  --dark-accent4: #0189a3;

  --dark-accent5: #0168ad;

  --dark-accent6: #af7f95;

  --dark-accent7: #d101b7;

  --light-shade0: #e7ded5;

  --light-shade1: #ccbebc;

  --light-shade2: #b09fa2;

  --light-shade3: #957f89;

  --light-shade4: #7a5f6f;

  --light-shade5: #5f3f56;

  --light-shade6: #43203c;

  --light-shade7: #280023;

  --light-accent0: #cd4128;

  --light-accent1: #f58903;

  --light-accent2: #c59413;

  --light-accent3: #01845c;

  --light-accent4: #0189a3;

  --light-accent5: #0168ad;

  --light-accent6: #af7f95;

  --light-accent7: #d101b7;
}