
:root {
  --dark-shade0: hsl(308, 100%, 8%);
  --dark-shade0-h: 308;
  --dark-shade0-s: 100%;
  --dark-shade0-l: 8%;

  --dark-shade1: hsl(312, 35%, 19%);
  --dark-shade1-h: 312;
  --dark-shade1-s: 35%;
  --dark-shade1-l: 19%;

  --dark-shade2: hsl(317, 20%, 31%);
  --dark-shade2-h: 317;
  --dark-shade2-s: 20%;
  --dark-shade2-l: 31%;

  --dark-shade3: hsl(324, 12%, 43%);
  --dark-shade3-h: 324;
  --dark-shade3-s: 12%;
  --dark-shade3-l: 43%;

  --dark-shade4: hsl(333, 9%, 54%);
  --dark-shade4-h: 333;
  --dark-shade4-s: 9%;
  --dark-shade4-l: 54%;

  --dark-shade5: hsl(349, 10%, 66%);
  --dark-shade5-h: 349;
  --dark-shade5-s: 10%;
  --dark-shade5-l: 66%;

  --dark-shade6: hsl(8, 14%, 77%);
  --dark-shade6-h: 8;
  --dark-shade6-s: 14%;
  --dark-shade6-l: 77%;

  --dark-shade7: hsl(30, 27%, 87%);
  --dark-shade7-h: 30;
  --dark-shade7-s: 27%;
  --dark-shade7-l: 87%;

  --dark-accent0: hsl(9, 67%, 48%);
  --dark-accent0-h: 9;
  --dark-accent0-s: 67%;
  --dark-accent0-l: 48%;

  --dark-accent1: hsl(33, 98%, 49%);
  --dark-accent1-h: 33;
  --dark-accent1-s: 98%;
  --dark-accent1-l: 49%;

  --dark-accent2: hsl(43, 82%, 42%);
  --dark-accent2-h: 43;
  --dark-accent2-s: 82%;
  --dark-accent2-l: 42%;

  --dark-accent3: hsl(162, 98%, 26%);
  --dark-accent3-h: 162;
  --dark-accent3-s: 98%;
  --dark-accent3-l: 26%;

  --dark-accent4: hsl(190, 99%, 32%);
  --dark-accent4-h: 190;
  --dark-accent4-s: 99%;
  --dark-accent4-l: 32%;

  --dark-accent5: hsl(204, 99%, 34%);
  --dark-accent5-h: 204;
  --dark-accent5-s: 99%;
  --dark-accent5-l: 34%;

  --dark-accent6: hsl(333, 23%, 59%);
  --dark-accent6-h: 333;
  --dark-accent6-s: 23%;
  --dark-accent6-l: 59%;

  --dark-accent7: hsl(308, 99%, 41%);
  --dark-accent7-h: 308;
  --dark-accent7-s: 99%;
  --dark-accent7-l: 41%;

  --light-shade0: hsl(30, 27%, 87%);
  --light-shade0-h: 30;
  --light-shade0-s: 27%;
  --light-shade0-l: 87%;

  --light-shade1: hsl(8, 14%, 77%);
  --light-shade1-h: 8;
  --light-shade1-s: 14%;
  --light-shade1-l: 77%;

  --light-shade2: hsl(349, 10%, 66%);
  --light-shade2-h: 349;
  --light-shade2-s: 10%;
  --light-shade2-l: 66%;

  --light-shade3: hsl(333, 9%, 54%);
  --light-shade3-h: 333;
  --light-shade3-s: 9%;
  --light-shade3-l: 54%;

  --light-shade4: hsl(324, 12%, 43%);
  --light-shade4-h: 324;
  --light-shade4-s: 12%;
  --light-shade4-l: 43%;

  --light-shade5: hsl(317, 20%, 31%);
  --light-shade5-h: 317;
  --light-shade5-s: 20%;
  --light-shade5-l: 31%;

  --light-shade6: hsl(312, 35%, 19%);
  --light-shade6-h: 312;
  --light-shade6-s: 35%;
  --light-shade6-l: 19%;

  --light-shade7: hsl(308, 100%, 8%);
  --light-shade7-h: 308;
  --light-shade7-s: 100%;
  --light-shade7-l: 8%;

  --light-accent0: hsl(9, 67%, 48%);
  --light-accent0-h: 9;
  --light-accent0-s: 67%;
  --light-accent0-l: 48%;

  --light-accent1: hsl(33, 98%, 49%);
  --light-accent1-h: 33;
  --light-accent1-s: 98%;
  --light-accent1-l: 49%;

  --light-accent2: hsl(43, 82%, 42%);
  --light-accent2-h: 43;
  --light-accent2-s: 82%;
  --light-accent2-l: 42%;

  --light-accent3: hsl(162, 98%, 26%);
  --light-accent3-h: 162;
  --light-accent3-s: 98%;
  --light-accent3-l: 26%;

  --light-accent4: hsl(190, 99%, 32%);
  --light-accent4-h: 190;
  --light-accent4-s: 99%;
  --light-accent4-l: 32%;

  --light-accent5: hsl(204, 99%, 34%);
  --light-accent5-h: 204;
  --light-accent5-s: 99%;
  --light-accent5-l: 34%;

  --light-accent6: hsl(333, 23%, 59%);
  --light-accent6-h: 333;
  --light-accent6-s: 23%;
  --light-accent6-l: 59%;

  --light-accent7: hsl(308, 99%, 41%);
  --light-accent7-h: 308;
  --light-accent7-s: 99%;
  --light-accent7-l: 41%;
}