
:root {
  --dark-shade0: rgb(25, 0, 23);
  --dark-shade0-r: 25;
  --dark-shade0-g: 0;
  --dark-shade0-b: 23;

  --dark-shade1: rgb(54, 32, 50);
  --dark-shade1-r: 54;
  --dark-shade1-g: 32;
  --dark-shade1-b: 50;

  --dark-shade2: rgb(84, 63, 77);
  --dark-shade2-r: 84;
  --dark-shade2-g: 63;
  --dark-shade2-b: 77;

  --dark-shade3: rgb(113, 95, 104);
  --dark-shade3-r: 113;
  --dark-shade3-g: 95;
  --dark-shade3-b: 104;

  --dark-shade4: rgb(143, 127, 132);
  --dark-shade4-r: 143;
  --dark-shade4-g: 127;
  --dark-shade4-b: 132;

  --dark-shade5: rgb(172, 159, 159);
  --dark-shade5-r: 172;
  --dark-shade5-g: 159;
  --dark-shade5-b: 159;

  --dark-shade6: rgb(202, 190, 186);
  --dark-shade6-r: 202;
  --dark-shade6-g: 190;
  --dark-shade6-b: 186;

  --dark-shade7: rgb(231, 222, 213);
  --dark-shade7-r: 231;
  --dark-shade7-g: 222;
  --dark-shade7-b: 213;

  --dark-accent0: rgb(211, 73, 31);
  --dark-accent0-r: 211;
  --dark-accent0-g: 73;
  --dark-accent0-b: 31;

  --dark-accent1: rgb(245, 137, 3);
  --dark-accent1-r: 245;
  --dark-accent1-g: 137;
  --dark-accent1-b: 3;

  --dark-accent2: rgb(197, 148, 19);
  --dark-accent2-r: 197;
  --dark-accent2-g: 148;
  --dark-accent2-b: 19;

  --dark-accent3: rgb(2, 137, 94);
  --dark-accent3-r: 2;
  --dark-accent3-g: 137;
  --dark-accent3-b: 94;

  --dark-accent4: rgb(1, 176, 210);
  --dark-accent4-r: 1;
  --dark-accent4-g: 176;
  --dark-accent4-b: 210;

  --dark-accent5: rgb(0, 169, 253);
  --dark-accent5-r: 0;
  --dark-accent5-g: 169;
  --dark-accent5-b: 253;

  --dark-accent6: rgb(175, 127, 149);
  --dark-accent6-r: 175;
  --dark-accent6-g: 127;
  --dark-accent6-b: 149;

  --dark-accent7: rgb(218, 6, 189);
  --dark-accent7-r: 218;
  --dark-accent7-g: 6;
  --dark-accent7-b: 189;

  --light-shade0: rgb(231, 222, 213);
  --light-shade0-r: 231;
  --light-shade0-g: 222;
  --light-shade0-b: 213;

  --light-shade1: rgb(202, 190, 186);
  --light-shade1-r: 202;
  --light-shade1-g: 190;
  --light-shade1-b: 186;

  --light-shade2: rgb(172, 159, 159);
  --light-shade2-r: 172;
  --light-shade2-g: 159;
  --light-shade2-b: 159;

  --light-shade3: rgb(143, 127, 132);
  --light-shade3-r: 143;
  --light-shade3-g: 127;
  --light-shade3-b: 132;

  --light-shade4: rgb(113, 95, 104);
  --light-shade4-r: 113;
  --light-shade4-g: 95;
  --light-shade4-b: 104;

  --light-shade5: rgb(84, 63, 77);
  --light-shade5-r: 84;
  --light-shade5-g: 63;
  --light-shade5-b: 77;

  --light-shade6: rgb(54, 32, 50);
  --light-shade6-r: 54;
  --light-shade6-g: 32;
  --light-shade6-b: 50;

  --light-shade7: rgb(25, 0, 23);
  --light-shade7-r: 25;
  --light-shade7-g: 0;
  --light-shade7-b: 23;

  --light-accent0: rgb(185, 48, 37);
  --light-accent0-r: 185;
  --light-accent0-g: 48;
  --light-accent0-b: 37;

  --light-accent1: rgb(135, 90, 31);
  --light-accent1-r: 135;
  --light-accent1-g: 90;
  --light-accent1-b: 31;

  --light-accent2: rgb(122, 96, 22);
  --light-accent2-r: 122;
  --light-accent2-g: 96;
  --light-accent2-b: 22;

  --light-accent3: rgb(22, 113, 80);
  --light-accent3-r: 22;
  --light-accent3-g: 113;
  --light-accent3-b: 80;

  --light-accent4: rgb(43, 107, 127);
  --light-accent4-r: 43;
  --light-accent4-g: 107;
  --light-accent4-b: 127;

  --light-accent5: rgb(1, 99, 188);
  --light-accent5-r: 1;
  --light-accent5-g: 99;
  --light-accent5-b: 188;

  --light-accent6: rgb(144, 79, 106);
  --light-accent6-r: 144;
  --light-accent6-g: 79;
  --light-accent6-b: 106;

  --light-accent7: rgb(165, 52, 147);
  --light-accent7-r: 165;
  --light-accent7-g: 52;
  --light-accent7-b: 147;
}